<nav class="p-3 text-bg-dark" data-bs-theme="dark">
    <!-- Navbar content -->
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="navbar-brand" href="/">Ecommerce</a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                {#                <li><a href="#" class="nav-link px-2 ">Features</a></li>#}
                {#                <li><a href="#" class="nav-link px-2 ">Pricing</a></li>#}
                {#                <li><a href="#" class="nav-link px-2 ">FAQs</a></li>#}
                {#                <li><a href="#" class="nav-link px-2 ">About</a></li>#}
            </ul>

            <div class="text-end d-flex">
                {% if not user.username %}
                    <a class="btn btn-outline-light me-2" href="{% url 'login' %}">Iniciar sesion</a>
                    <button type="button" class="btn btn-warning">Registrarse</button>
                {% else %}
                    <a href="{% url 'ver_cart' %}" class="btn btn-light me-2">
                        <i class='bx bxs-cart'> Carrito </i>
                        <span class="badge text-bg-danger">
                            {{ total_products_cart }}
                        </span>
                    </a>
                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-body-emphasis show text-decoration-none dropdown-toggle"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class='bx bxs-user-circle h3 m-0'></i>
                        </a>
                        <ul class="dropdown-menu text-small">
                            <li><a class="dropdown-item" href="{% url 'perfil' %}">Perfil</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesion</a></li>
                        </ul>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>


</nav>

