{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid justify-content-start flex-wrap">
        <div class="d-flex w-100 justify-content-between">
            <a class="navbar-brand ms-2" href="/">
                <img src="{% static 'img/logos/Logo-nombre.png' %}" alt="Logo medtgol" width="100px">
            </a>
            {% if not user.username %}
                <a class="btn rounded-circle btn-dark mx-1" href="{% url 'login' %}">
                    <i class='bx bxs-user'></i>
                </a>
            {% else %}
                <div class="d-flex align-items-center">
                    <a href="{% url 'ver_cart' %}" class="btn btn-light mx-1 d-flex align-items-center">
                        <i class='bx bxs-cart h3 m-0'></i>
                        <span class="badge text-bg-danger">{{ total_products_cart }}</span>
                    </a>
                    <div class="dropdown">
                        <button class="btn btn-light mx-1 dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <i class='bx bxs-user-circle h3 m-0'></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{% url 'perfil' %}">Perfil</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesion</a></li>
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</nav>