<div class="modal fade" id="infoProducto{{ producto.id }}" tabindex="-1"
     aria-labelledby="infoProductoLabel{{ producto.id }}" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="infoProductoLabel{{ producto.id }}">{{ producto.name }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <article class="container-fluid">
                    <section class="row">
                        <section class="col justify-content-center">
                            <picture class="d-flex justify-content-center">
                                <img src="{{ producto.imagen.url }}" alt="imagen de {{ producto.name }}"/>
                            </picture>
                        </section>
                        <section class="col d-flex align-items-center">
                            <article class="card border-0">
                                <section class="card-header bg-white">
                                    <span class="badge text-bg-light">
                                        <i class="fa-solid fa-warehouse"></i>
                                        {{ producto.proveedor }}
                                    </span>
                                </section>
                                <section class="card-body">
                                    <p class="card-title h2">{{ producto.name }}</p>
                                    <p class="card-text p">{{ producto.description }}</p>
                                    {% load humanize %}
                                    <p class="card-text h4 text-danger fw-bold">$ {{ producto.price|intcomma }}</p>
                                </section>
                                <section class="card-footer bg-white">
                                    <span class="badge text-bg-warning">
                                        <i class='bx bxs-purchase-tag'></i>
                                        {{ producto.category }}
                                    </span>

                                </section>
                            </article>
                        </section>
                    </section>
                </article>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <a href="{% url 'agregar_producto' producto.id %}" class="btn btn-info">Añadir al Carrito</a>
            </div>
        </div>
    </div>
</div>