<article class="container bg-white border border-1 p-lg-5 p-md-5 py-5">
    <section class="row h-100">
        <section class="col justify-content-center">
            <picture class="h-100 d-flex justify-content-center align-items-center">
                <img src="{{ producto.imagen.url }}" alt="imagen de {{ producto.name }}"
                     style="max-height: 350px; width: auto"/>
            </picture>
        </section>
        <section class="col">
            <article class="card border-0">
                <section class="card-body">
                    <p class="card-title h2">{{ producto.name }}</p>
                    <p>
                        <span class="badge text-bg-light">
                            <i class="fa-solid fa-warehouse"></i>
                            {{ producto.proveedor }}
                        </span>
                    </p>
                    {% load humanize %}
                    <p class="card-text h4 text-danger fw-bold">$ {{ producto.price|intcomma }}</p>
                    <section>
                        <form action="{% url 'agregar_producto_cantidad' producto.id %}" method="post"
                              class="d-flex flex-wrap">
                            {% csrf_token %}
                            <section class="input-group w-30 me-1 mt-1">
                                <button class="btn btn-sm btn-warning" type="button" title="minus" id="minus">
                                    <i class='bx bx-minus'></i>
                                </button>
                                <input class="form-control form-control-sm text-center" type="text" required
                                       name="cantidad"
                                       id="cantidad" value="1" aria-label="cantidad" readonly>
                                <button class="btn btn-sm btn-warning" type="button" title="plus" id="plus">
                                    <i class='bx bx-plus'></i>
                                </button>
                            </section>
                            <button class="btn btn-sm btn-warning me-1 mt-1" type="submit">Agregar al carrito</button>
                            <a href="{% url 'ver_cart' %}" class="btn btn-warning me-1 mt-1">
                                Comprar
                            </a>
                        </form>
                    </section>
                </section>
                <section class="card-footer bg-white">
                    <p class="card-text p">{{ producto.description }}</p>
                    <p>
                        <span class="badge text-bg-success">
                            <i class='bx bxs-purchase-tag'></i>
                            {{ producto.category }}
                        </span>
                    </p>
                </section>
            </article>
        </section>
    </section>
</article>
