<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://nikeco.vtexassets.com/assets/vtex.file-manager-graphql/images/38d74a04-24c7-4c1e-a877-438fbcc8f281___17f37d210c0c13db65c4ea68e5dc61a2.png" class="d-block w-100" alt="publicidad">
        </div>
        <div class="carousel-item">
             <img src="https://nikeco.vtexassets.com/assets/vtex.file-manager-graphql/images/8a001e60-9544-43b5-99b8-51b494400415___4ae2087ed0ffb8927dceaf6148977ea3.png" class="d-block w-100" alt="publicidad">
        </div>
        <div class="carousel-item">
            <img src="https://nikeco.vtexassets.com/assets/vtex.file-manager-graphql/images/f92a0817-ced0-424d-af8e-4d6c7bc965e1___f6009f619273f5e22302a4b3f3fc2d83.png" class="d-block w-100" alt="publicidad">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>