{% extends 'layouts/base.html' %}
{% load static %}

{% block head %}
    <title>Ecommerce</title>
    <link href="{% static 'css/nav-categorias.css' %}" rel="stylesheet">
    <link href="{% static 'css/categorias-destacadas.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
    {% include 'layouts/navbar.html' %}
    {% include 'ui/categorias.html' %}
{% endblock %}

{% block body %}
{#    {% include 'ui/carrusel.html' %}#}
    {% include 'shop/lista_productos.html' %}
    {% include 'ui/boton_whatsapp.html' %}
    <script src="{% static 'js/lista_productos.js' %}"></script>
{% endblock %}